
<!-- Products Filters -->
<div class="rounded row g-0 mb-4 bg-filter bg-gradient p-2">
  <div class="col-sm-3 pe-sm-3 mb-3 mb-sm-0">
    <div class="input-group">
      <input id="searchProducts" type="text" class="form-control bg-light" placeholder="Search products...">
      <button class="btn btn-search" type="button">
        <i id="btnProductsClear" class="fas fa-close me-3"></i>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="btn-group btn-group-toggle border-2" data-toggle="buttons">
      <button id="allProducts" class="btn filter-btn-products active" data-filter="allProducts">All</button>
      <button class="btn filter-btn-products" data-filter="activeProducts">Active</button>
      <button class="btn filter-btn-products" data-filter="inActiveProducts">In Active</button>
      <button class="btn filter-btn-products" data-filter="outOfStockProducts">Out of stock</button>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="ms-auto">
      <input type="date" class="form-control" id="productDateFilter" />
    </div>
  </div>
</div>
